.PhotographyHighlight {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.PhotographyHighlight__title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}

.PhotographyHighlight__description {
  line-height: 25px;
  font-size: 20px;
  font-weight: 100;
}
