header.header {
	width: 100%;
	border-top: #b24b5b 7px solid;
}

.menu {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}

.nav-item {
	display: inline-block;
	height: 100%;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	&.left-item {
		float: left;
	}
	&.right-item {
		float: right;
	}

	&:hover {
		// background-color: $gray;
	}
	a {
		font-weight: 900;
		font-size: 28px;
		color: #6d6e71;
		font-family: 'Roboto';
		text-decoration: none;
		&:hover {
			opacity: 0.6;
		}
		&.block {
			opacity: 0.2;
		}
		// display: block;
		padding: 0 44px;
	}
}
.nav-logo {
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left:-77px;
	top: 32px;
	width: 154px;
  img {
    // -webkit-transition: 0.2s ease-in-out;
    // -moz-transition: 0.2s ease-in-out;
    // -ms-transition: 0.2s ease-in-out;
    // -o-transition: 0.2s ease-in-out;
    // transition: 0.2s ease-in-out;
  }
}
.nav-logo:hover {
  margin-left:-80px;
  img {
    width: 160px;
    opacity: 0.8;
  }
}



