/* Mobile */
@media only screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {


  // Home
  .home .context .saudations h2 {
    font-size: 28px;
    line-height: 40px;
    span {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .home .context .profile-picture {
    margin-top: 16px;
  }


  // Common

  #content {
    padding: 20px 10px 0 10px;
  }

  // NAV
  .nav-logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left:-40px;
    top: 6px;
    width: 80px;
    img {
      width: 100%;
    }
  }

  .nav-item {
    // display: block;
    a {

      padding: 0 26px;
    }
  }

  .nav-item.right-item {
    float: none;
  }

  .nav-item.left-item {
    float: none;
  }






  // TALKS

  .talks {
    .list.talks {
      .talk {
        margin-bottom: 10px;
        a {
          text-decoration: none;
          .talk-date {
            border-right: #b24b5b 4px solid;
            padding: 2px 6px;
            margin-right: 6px;
            width: 30px;
            float: left;
            .talk-date-day {
              font-size: 20px;
              line-height: 25px;
              padding-top: 4px;
            }
            .talk-date-month {
              font-size: 12px;
              color: #6d6e71;
              line-height: 18px;
            }

          }
          .talk-description {
            float: none;
            display: inline-block;
          }
          .talk-local {
            font-size: 12px;
          }
          .talk-title {
            font-size: 14px;
            line-height: 20px;
            padding: 6px 0 4px 0;
            margin:0;
          }
        }
      }
    }
  }




  // Blog

  .posts.list .list-item a {
    font-size: 20px;
    padding-top: 10px;
  }






}

/* Tablets */

@media only screen and (min-width:600px) {
  .nav-item {
    a {
      // display: block;
      padding: 0 30px;
    }
  }

  .home .context .saudations h2 {
    font-size: 72px;
  }

}

/* Standard Desktop */

@media only screen and (min-width:900px) {


}

/* Large screens */

@media only screen and (min-width:1200px) {


}

/* Big WTF Large screens */

@media only screen and (min-width:2000px) {


}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
