.content {
  padding-top: 50px;
  ul {
    list-style-type: square;
    li {
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 10px;
      line-height: 30px;
      a {
        color: var(--secondaryColor);
        font-weight: bold;
      }
    }
  }
}
