<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        <!-- Meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="A software engineer who lives in Maceió and works for a wonderful company based in CA" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Facebook -->
        <meta property="og:title" content="Ivan Santos' Blog - {{ page.title }}"/>
        <meta property="og:site_name" content="Ivan Santos"/>
        <meta property="og:url" content="http://ivansjr.com.br{{ page.permalink }} "/>
        <meta property="og:image" content="http://ivansjr.com.br{{ page.image_graph }}"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:description" content="A software engineer who lives in Maceió and works for a wonderful company based in CA"/>

        <!-- Icons -->
        <link rel="shortcut icon" href="/assets/images/icons/favicon.png" type="image/x-png" />

        <!-- syntax Custom CSS -->
        <link rel="stylesheet" href="/assets/css/style.css" >
        <link rel="stylesheet" href="/assets/css/highlight/monokai_sublime.css" >

        <link href='http://fonts.googleapis.com/css?family=Kreon:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>

        <script src="/assets/js/vendor/highlight.pack.js"></script>


    </head>
    <body {% if page.class %} class="{{ page.class }}"{% endif %} >