      <!-- Header -->
      <header class="header">
        <nav class="menu nav-items">
          <ul>
            <li class="nav-item left-item">
              <a href="{{ site.baseurl }}" title="Home">Home</a>
            </li>
            <li class="nav-item left-item">
              <a href="{{ site.baseurl }}about" title="About">About</a>
            </li>
            <li class="nav-logo">
              <img src="assets/images/common/logo.png" alt="Logo Ivan Santos">
            </li>
            <li class="nav-item right-item">
              <a href="{{ site.baseurl }}talks" title="Talks">Talks</a>
            </li>
            <li class="nav-item right-item">
              <a href="{{ site.baseurl }}portfolio" title="Portfolio">Portfolio</a>
            </li>
          </ul>
        </nav>
      </header> <!-- End Header -->