      <!-- Header -->
      <header class="header">
        <nav class="menu nav-items">
          <ul>
            <li class="nav-item left-item">
              <a href="{{ site.baseurl }}" title="Home">Home</a>
            </li>
            <li class="nav-item left-item">
              <a href="javascript:void(0)" class="block" title="About">Talks</a>
            </li>
            <li class="nav-logo">
              <img src="/assets/images/common/logo.png" alt="Logo Ivan Santos">
            </li>
            <li class="nav-item right-item">
              <a href="javascript:void(0)" class="block"  title="Talks">Blog</a>
            </li>
            <li class="nav-item right-item">
              <a href="javascript:void(0)" class="block"  title="Portfolio">Projects</a>
            </li>
          </ul>
        </nav>
      </header> <!-- End Header -->