.BlogAvatar {
  background: url('./blog-avatar@2x.png') center center;
  border-radius: 50%;
  border: #ffffff 4px solid;
  bottom: -70px;
  height: 140px;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  width: 140px;
}
