.ResumeLink {
  padding: 80px 0;
  text-align: center;
  a {
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    color: #A8A8A8;
    font-family: Philosopher;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.54px;
    padding: 14px 30px;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }
}
