/*********************************************************************
*  Colors
*********************************************************************/

$gray :      		#cccccc;
$middle-gray:  		#4e4f53;   
$black:  			#083237;
$clean-gray: 		#f3f3f3;

$red: 				#b24b5b;
$wine: 				#53232b;

$white: 			#ffffff;


/*********************************************************************
*  Typography
*********************************************************************/

$base-font-size: 				16;
$base-line-height:  			16;

$base-font-family: 				'Roboto', serif;
$base-title-font-family: 		'Kreon', serif;