/*********************************************************************
*  Common Styles
*********************************************************************/


// Body setup
body {
	background: url('../images/common/bg.jpg');
  @include font-size(16,16);
  font-family: $base-font-family;
  color: $black;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-title-font-family;
}