/*********************************************************************
*  Header Style
*********************************************************************/

header.header {
	width: 100%;
	border-top: $red 7px solid;
}

.menu {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}

.nav-item {
	display: inline-block;
	height: 100%;

	&.left-item {
		float: left;
	}

	&.right-item {
		float: right;
	}

	a {
		font-weight: 900;
		@include font-size(28);
		color: $black;
		text-decoration: none;
    padding: 0 44px;

		&:hover {
			opacity: 0.8;
		}

		&.block {
			opacity: 0.2;
		}
	}
}

.nav-logo {
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left:-77px;
	top: 32px;
	width: 154px;

	img {
		width: 154px;
	}
}

.nav-logo:hover {
  margin-left:-77px;

  img {
    opacity: 0.9;
  }
}