/*********************************************************************
*  Projects Style
*********************************************************************/


.projects {

	h1 {
		color: $wine;
	}

	.list.projects {
		list-style: none;
		padding: 0;
		margin: 0;

		.project {
			margin-bottom: 4px;
			width: 100%;

			a {
				text-decoration: none;
				color: $middle-gray;
				
				.project-description {
					float: left;
				}

				.project-tecnology, .lang {
					font-weight: 300px;
				}

				.project-title {
					@include font-size(24,30);
					font-weight: 300px;
					color: $middle-gray;
					padding: 10px 0 4px 0;
					margin:0;
				}
			}
		}
	}
}