/*********************************************************************
*  Responsive Style
*********************************************************************/

/* Mobile */
@include screen(320px, 640px)  {

  // Common
  #content {
    padding: 20px 10px 0 10px;
  }


  // Navigation
  .nav-logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left:-40px;
    top: 6px;
    width: 80px;
    img {
      width: 100%;
    }
  }
  .nav-item {
    @include line-height(25);
  }
  .nav-item  a {
    padding: 2px 26px;
  }

  .nav-item.right-item {
    float: none;
  }

  .nav-item.left-item {
    float: none;
  }


  // Home
  .home .context .saudations h2 {
    @include font-size(28,40);

    span {
      @include font-size(36,40);
    }
  }

  .home .context .profile-picture {
    margin-top: 16px;
  }

  // Talks
  .talks {

    h1 {
      @include font-size(20);
    }
    .list.talks {

      .talk {
        margin-bottom: 30px;

        a {
          text-decoration: none;

          .talk-date {
            border-right: $red 4px solid;
            padding: 2px 6px;
            margin-right: 6px;
            width: 30px;
            float: left;

            .talk-date-day {
              @include font-size(20,25);
              padding-top: 4px;
            }

            .talk-date-month {
              @include font-size(12,18);
            }

          }

          .talk-description {
            float: none;
            display: inline-block;
          }

          .talk-local {
            @include font-size(12);
          }

          .talk-title {
            @include font-size(14,20);
            padding: 6px 0 4px 0;
            margin:0;
          }
        }
      }
    }
  }

  // Projects

  .projects {


    .list.projects {
      padding: 10px 0 20px 0;
    }

    h1 {
      @include font-size(20);
      margin: 10px 0;
    }
    .project {
      padding: 0 0 0 0;
    }
    .project-title {
      padding: 4px 0 4px 0;
    }
  }

  // Blog
  .posts.list .list-item a {
    @include font-size(20);
    padding-top: 10px;
  }

}

/* Mobile Landscape */
@include screen(320px, 640px, landscape){
  // Navigation
  .nav-item  a {
    padding: 2px 13px;
  }
  .nav-items ul {
    padding: 0;
    @include clearfix();
    text-align: center;
  }
}



/* Tablets */
@include screen(700px, 1024px) {
  .nav-item {
    a {
      padding: 0 30px;
    }
  }


  .home .context .saudations h2 {
    @include font-size(70);
  }
}