/*********************************************************************
*  Talks Style
*********************************************************************/

.talks {

	h1 {
		color: $wine;
	}

	.list.talks {
		list-style: none;
		padding: 0;
		margin: 0;

		.talk {
			margin-bottom: 10px;

			a {
				text-decoration: none;

				.talk-date {
					float: left;
					width: 40px;
					border-right: $red 4px solid;
					padding: 5px 20px;
					margin-right: 22px;

					span {
						display: block;
						text-align: center;
					}

					.talk-date-day {
						@include font-size(38,35);
						font-weight: bold;
						color: $middle-gray;
						padding-top: 4px;
					}

					.talk-date-month {
						@include font-size(18,18);
						font-weight: 300px;
						color: $middle-gray; 
					}
					
				}

				.talk-description {
					float: left;
				}

				.talk-local, .lang 	{ 
					font-weight: 300px;
					color: $middle-gray;
				}

				.talk-title {
					@include font-size(30,30);
					font-weight: 300px;
					color: $middle-gray;
					padding: 10px 0 4px 0;
					margin:0;
				}
			}
		}
	}
}