.contact {
  color: rgba(0, 0, 0, 0.90);
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
  margin: 0 auto;
  max-width: 300px;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;

  a {
    color: rgba(0, 0, 0, 0.90);
    text-decoration: none;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
