.greeting {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    margin-top: 40px;
  }
}

.calling {
  border: 4px solid var(--secondaryColor);
  color: var(--secondaryColor);
  font-size: 80px;
  padding: 6px 22px;
  border-radius: 10px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: 40px;
  }
}

.aboutme {
  color: #050505;
  font-size: 56px;
  letter-spacing: -2.95px;
  padding-top: 10px;
}
