
.Footer__social {
  text-align: center;
  li {
    display: inline-block;
    margin: 10px 10px 40px 10px;
    a {
      font-size: 30px;
      color: rgba(0,0,0,0.90);
      &:hover {
        color: rgba(0,0,0,0.50);
      }
    }
  }
}
