.menu {
  margin: 30px 0 0 0;

  ul {
    padding: 0;

    li {
      display: inline-block;
      line-height: 30px;
      margin: 0 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--primaryColor);
        font-size: 20px;
        font-family: var(--headingFont);
        text-decoration: none;

        padding: 6px 16px;
        border-radius: 6px;
        transition: all var(--duration) ease-in-out;

        &:hover {
          color: var(--secondaryColor);
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    display: block;
    float: none;
    text-align: center;

    ul li {
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}

.dark {
  ul li a {
    color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
