.content {
  padding-top: 50px;
  ul {
    list-style-type: square;
    li {
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 10px;
      line-height: 30px;
      a {
        color: var(--secondaryColor);
        font-weight: bold;
      }
    }
  }
}


.uses {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 0 50px 0;

  p {
    color: rgba(0, 0, 0, 0.90);
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    padding-bottom: 20px;
    padding: 0 0 20px 0px;
  }

  h2 {
    font-size: 46px;
    font-weight: bold;
    color: var(--secondaryColor);
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: var(--secondaryColor);
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 0 20px;

    div {
      width: 100%;
    }
  }
}

.picture {
  display: flex;
  justify-content: center;

  img {
    width: 200px;
    height: 200px;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
