.articleHeader {
  position: relative;
  height: calc(100vh - 300px);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  a {
    color: #ffffff !important;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    height: calc(100vh - 400px);
  }
}

.header__pic-post {
  position: relative;
  height: calc(100vh);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  a {
    color: #ffffff !important;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    height: calc(100vh - 400px);
  }
}

.blog-list {
  max-width: 1000px;
  margin: 0 auto;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 20px;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 120px 20px 20px 20px;
  }
}

.date {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.50);
  letter-spacing: 5.79px;
  padding-bottom: 6px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  font-family: var(--headingFont);
  color: rgba(0, 0, 0, 0.90);
  letter-spacing: 2px;
  line-height: 41px;
  margin-left: -2px;
}

.content {
  padding: 30px 0;

  img {
    max-width: 900px;
  }

  p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.90);
    line-height: 34px;
    letter-spacing: 0.26px;

    a {
      color: #5C4B77;
    }

  }

  strong {
    font-weight: bold;
  }

  &>p {
    padding: 0 0 28px 0;
  }

  &>ul {
    list-style: circle;
    padding: 30px 0 30px 50px;

    li {
      font-size: 20px;
      padding-bottom: 10px;
      line-height: 34px;
      letter-spacing: 0.26px;

      a {
        color: #5C4B77;
      }
    }
  }

  blockquote {
    font-style: italic;
    border-left: #5C4B77 solid 3px;
    padding-left: 10px;
    margin-bottom: 20px;

    p {
      font-size: 20px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.90);
    line-height: 41px;
    padding-bottom: 20px;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.90);
    line-height: 40px;
    padding-bottom: 20px;
  }


}
