.articleList {
  max-width: 1000px;
  margin: 0 auto;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 20px;
  }
}

.header {
  padding: 0 0 40px 0;
}
