.header {
  position: relative;
  background: url('../public/images/bg-home-header.png');
  height: 550px;
  border-bottom: 3px solid #f1f1f1;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    height: 450px;
  }
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 26px;
  color: var(--primaryColor);
  text-align: center;
  line-height: 40px;
  padding: 50px 0;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 50px 20px;
    font-size: 20px;
    line-height: 26px;
  }
}
