.wrapper {
  padding: 80px 0;
  text-align: center;
}

.link {
  border-radius: 8px;
  border: 1px solid #DCDCDC;
  color: #595959;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.54px;
  padding: 14px 30px;
  text-decoration: none;

  &:hover {
    color: #000000;
  }
}
